option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
    NumProcesses: '1'
    NumThreads: '15'

  aws:elasticbeanstalk:application:environment:
    aws_eb_python_install_requirements: "false"

container_commands:
  01_pip_optimize:
    command: "/var/app/venv/staging-nginx/bin/pip install --only-binary=:all: --no-cache-dir -r requirements.txt"